@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  max-width: 1280px;
  margin: auto;
}

body {
  background: white;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

h2 {
  font-size: xx-large !important;
}
h3 {
  font-size: large;
  font-weight: 600;
}

li:hover::before {
  position: absolute;
  content: " ";
  height: 4px;
  top: 20px;
  width: 100%;
  background: #2a68ff;
  right: 0;
  color: #2a68ff;
}

.icon {
  cursor: pointer;
}

.card {
  background: #000;
}

.menu {
  flex: auto;
  flex-direction: row;
}

/* .toggle-btn {
  position: relative;
  width: 300px;
  height: 120px;
  padding: 10px;
  border-radius: 100px;
  background-color: #c4c4c4;
  background-image: url(../images/day-bg.jpg);
  background-size: cover;
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.toggle-btn .switch {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25),
    inset 5px 0 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  cursor: pointer;
}

.toggle-btn .moon {
  width: 85px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  transform: translateY(200%);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 1;
}

.toggle-btn.active {
  background-image: url(../images/night-bg.jpg);
}
.toggle-btn.active .switch {
  transform: translateX(calc(300px - 120px));
}
.toggle-btn.active .moon {
  transform: translateY(0);
} */
